

ul{
    padding-left: 0;
}

.linea {
    border: none;
    border-top: 1px solid var(--color-text-secondary);
    opacity: 0.2;
    width: 80%;
}

u li{
    font-weight: 600;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.stats p {
    margin: 0;
    color: var(--color-text-secondary);
    font-weight: 700;
}

.stats span {
    font-size: 1.5rem;
    font-weight: 700;
}






span {
    color: var(--color-accent);
}



 .box-shadow-img{
    box-shadow:  0 15px -3px var(--color-primary);
 }


.card-neon-img-github{
  box-shadow: 
    0 0 15px -3px var(--color-primary);
}


 