@import "tailwindcss";
:root {
  --color-primary: #7C3AED;      
  --color-accent: #06B6D4;       

  --color-bg: #0F0F1A;          
  --color-surface: #1A1A2E;      

  --color-text: #FFFFFF;
  --color-text-secondary: #A1A1AA;

  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-error: #fa0000;

  --color-border: #2A2A40;

  --shadow-soft: 0 4px 20px rgba(0,0,0,0.4);
  --font-sans: "Press Start 2P", system-ui;
  --gradient-primary: linear-gradient(135deg, #7C3AED, #06B6D4);
}


body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-bg);
  color: var(--color-text);
  
}

a {
  color: inherit;
  text-decoration: none;
}

.card-neon {
  background-color: var(--color-surface);
  border: 2px solid var(--color-primary);
  border-radius: 1rem; 
  
  box-shadow: 
    0 0 15px -3px var(--color-primary);
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-neon:hover {
  transform: translateY(-5px);
  box-shadow: 
    0 0 20px -2px var(--color-primary);
}


.shadow-neon{
  box-shadow: 0 0 15px -3px var(--color-primary);
}


.swal-neon {
  background-color: var(--color-surface) !important;
  border: 2px solid var(--color-primary) !important;
  border-radius: 1rem !important;
  box-shadow: 0 0 15px -3px var(--color-primary) !important;
  color: var(--color-text) !important; 
}