
:root {
  --color-primary: #7C3AED;      
  --color-accent: #06B6D4;       

  --color-bg: #0F0F1A;          
  --color-surface: #1A1A2E;      

  --color-text: #FFFFFF;
  --color-text-secondary: #A1A1AA;

  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-error: #EF4444;

  --color-border: #2A2A40;

  --shadow-soft: 0 4px 20px rgba(0,0,0,0.4);

  --gradient-primary: linear-gradient(135deg, #7C3AED, #06B6D4);
}


body {
  margin: 0;
  font-family: 'Inter', 'Poppins', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}